<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>e-comm fragments</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
<script th:src="@{js/jquery.mycart.js}"></script>
</head>
<body>
	<div th:insert="fragments/fragment.html :: nav"></div>
	<h1>Welcome</h1>
	<p>This is more or less where I will be building/testing things for my portfolio</p>
	<h4>Tech used</h4>
	<ul>
		<li>Front End: HTML5, CSS3, Bootstrap, Thymeleaf, JavaScript and JQuery</li>
		<li>Back End: Java, Spring Boot</li>
		<li>React Page: React.JS</li>
		<li>Hosting: AWS S3, AWS Elastic Beanstalk and AWS RDS</li>
	</ul>
</body>
</html>