<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>e-comm fragments</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
</head>
<body style="background-color: #c2f0f0;">
	<div th:insert="fragments/fragment.html :: nav"></div>
	<span class="glyphicon glyphicon-shopping-cart my-cart-icon"> <span
		class="badge badge-notify my-cart-badge"></span></span>
	<div class="container">
		<div class="row">
			<div class="col-sm-4" th:each="prod : ${prodList}">
				<div class="divy">
					<img style="height: 100px; width: 100px;"
						th:src="@{__${prod.colors}__}" />
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-4">
							<p th:text="${prod.price}"></p>
						</div>
						<div class="col-sm-6">
							<p th:text="${prod.description}"></p>
						</div>
					</div>
					<button class="btn btn-danger my-cart-btn" th:data-id="${prod.id}"
						th:data-name="${prod.description}"
						th:data-summary="${prod.description}"
						th:data-price="${prod.price}" data-quantity="1"
						th:data-image="${prod.colors}">Add to Cart</button>
				</div>
			</div>
		</div>
	</div>
	

	<div id="cart"></div>
	<script th:src="@{js/jquery-2.2.3.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/ecommJS.js}"></script>
	<script th:src="@{js/jquery.mycart.js}"></script>
	<script th:src="@{js/jquery.mycart.min.js}"></script>
</body>
</html>